:root {
  --company-color-dark: rgb(40, 110, 240);
  --company-color-light: rgb(70, 190, 240);
  --company-color-highlight: #92140C;
  --gradient: linear-gradient(210deg, #286EF0, #46BEF0, #286EF0);
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Cormorant+SC:600,700');

/* .clearfix::after,
section::after {
  content: '';
  display: block;
  clear: both;
} */
/* .container-fluid {
  width: 95%;
  margin: 0 auto;
} */

body {
  font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 400; color: #555; margin: 0; padding: 0;
}


/* --------- NAVBAR --------- */

.navbar {
  background-color: white;
}
.nav-link {
  color: var(--company-color-dark);
}

nav img {
  min-width: 55px;
}

nav .nav-item {
  position: relative;
  text-align: center;
}

nav .nav-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: var(--company-color-dark);

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

nav .nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.navbar-toggler {
  border: 1px solid rgb(40, 110, 240);
}

.navbar-toggler-icon  {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, .85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:hover {
  border: 1px solid rgb(40, 110, 240);
}

.dropdown-menu .dropdown-item {
  text-decoration: none;
  position: relative;
  color: var(--company-color-dark);
  text-align: center;
}

.dropdown-menu .dropdown-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: var(--company-color-dark);

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.dropdown-menu .dropdown-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* ============ buttons ============ */

.button {
  background-image: linear-gradient(rgb(40, 110, 240), rgb(70, 190, 240));
  display: inline-block;
  font-size: 1.5rem;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: .5em 1.75em;
}

@media (min-width: 60rem) {
  .button {
    font-size: 1.5rem;
  }
}

.button-small {
  font-size: .7rem;
  font-weight: 700;
}

.button-accent {
  color: #fff;
  border-color: rgb(40, 110, 240);
}


.button-accent:hover,
.button-accent:focus {
  background: linear-gradient(rgb(70, 190, 240), rgb(40, 110, 240));
  color: #fff;
  text-decoration: none;
  transition: background-gradient 04s ease-out;
}

.button-dark {
  color: white;
  border-color: white;
}


.button-dark:hover,
.button-dark:focus {
  background: linear-gradient(rgb(70, 190, 240), rgb(40, 110, 240));
  color: white;
  text-decoration: none;
  border-style: outset;
}

.button-dark:hover,
.button-dark: {
  background: linear-gradient(rgb(70, 190, 240), rgb(40, 110, 240));
  color: white;
  text-decoration: none;
  border-style: outset;
}

/* --------- Home Hero --------- */

.home-hero {
  background-image: url(../img/tax_papers.jpg);
  background-color: rgba(20,20,20,.55);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #eee;
  text-align: center;
  width: 100%;
  height: 100vh;
  padding-top: 10em;
}



.home-hero h1 {
  font-size: 2em;
  color: #fff;
}

/* backgrounds */


.backgrounds {
  background-image: url(../img/hex.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  background-blend-mode: normal;
  padding-top: 1em;
  margin-top: 1em;

}
.backgrounds h1 {
  font-size: .6em;
  font-weight: 600;
  color: white;
}

@media (min-width: 30rem) {
  .backgrounds {
    padding-top: 4em;
    margin-top: 2em;
    height: 35vh;
  }
  .backgrounds h1 {
    font-size: 2.0em;
    font-weight: 600;
  }
}
@media (min-width: 60rem) {
  .backgrounds {
    padding-top: 4em;
    margin-top: 2em;
    height: 45vh;
  }
  .backgrounds h1 {
    font-size: 3.0em;
    font-weight: 700;
  }
}


/* ============ cta ============ */

/* .cta {
  background-image: linear-gradient(rgb(40, 110, 240), rgb(70, 190, 240));
  padding: 5em 0;
  text-align: center;
  color: white;
} */

.cta {
  text-align: center;
  padding: 10em, 0;
  display: flex;
  background: white;
  background-size: 300%;
  background-image: var(--gradient);
  animation: bg-animation 5s infinite;
}


@keyframes bg-animation {
  0% {background-position: left}
  50% {background-position: right}
  100% {background-position: left}
}


.title {
  font-size: 2.5rem;
  margin-bottom: 1.5em;
  font-weight: 900;
  margin-top: 1em;
  color: #DDD;
}

.title span {
  font-weight: 300;
  display: block;
  font-size: .5em;
}

.list-group-item {
  text-transform: capitalize;
}

/* FOOTER */
footer {
    background-color: #fff;
    padding: 25px 0px 60px 0px;
    color: black;
    font-size: .8em;
}

footer a {
    color: rgb(40, 110, 240);
    text-decoration: none;
}

footer h5 {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.9em;
}

footer h4 {
    text-decoration: underline;
    font-weight: 700;
    font-size: 1.3rem;
}

footer a:hover {
    color: #fff;
    padding: .3em;
    background-color: rgb(40, 110, 240);
    border-radius: 5px;
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

footer .column {margin-bottom: 20px;}
footer .content{text-align: justify;}

.copyright{
  margin-top: 25px;
}

.disclaimer {
    font-size: .7rem;
    padding: 0px 10px 0px 10px;
}

.text-muted {
    font-size: .8em;
}

address{
    font-size: 1.1rem;
}
