:root {
  --company-color-dark: rgb(40, 110, 240);
  --company-color-light: rgb(70, 190, 240);
  --company-color-highlight: #92140C;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Cormorant+SC:600,700');

/* .clearfix::after,
section::after {
  content: '';
  display: block;
  clear: both;
} */

body {
  font-family: 'Open Sans', sans-serif; font-size: 16px; font-weight: 400; color: #555; margin: 0; padding: 0;
}


/* --------- NAVBAR --------- */

.navbar {
  background-color: #eee;
}
.nav-link {
  color: var(--company-color-dark);
}

nav img {
  min-width: 55px;
}

nav .nav-item {
  position: relative;
}

nav .nav-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: var(--company-color-dark);

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

nav .nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.dropdown-menu .dropdown-item {
  text-decoration: none;
  position: relative;
  color: var(--company-color-dark);
}

.dropdown-menu .dropdown-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: var(--company-color-dark);

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.dropdown-menu .dropdown-item:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.link-effect {
  position: relative;
  text-decoration: none;
}
.link-effect::after {
  content: 'fast';
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: var(--company-color-dark);

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

link-effect:hover::after {
  transform: scaleX(1);
  transform-origin: left;
  background-color: red;
}
